.main-container {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.chart-container {
  position: relative;
  margin: auto;
  width: 100%;
  height: auto;
}

.data-container {
  margin: auto;
  width: 100%;
}

.slot-container {
  display: flex;
}

.block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-block {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-block button {
  padding: 5px;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 60%;
  }
}
